version: "3.8"

services:
  superset:
    build: .
    container_name: superset
    ports:
      - "8088:8088"
    environment:
      - SUPERSET_ENV=production
      - SUPERSET_LOAD_EXAMPLES=no
      - SUPERSET_SECRET_KEY=changeme_please
    volumes:
      - superset_home:/app/superset_home
      - /home/ubuntu/duckdb_file:/duckdb
    restart: unless-stopped

volumes:
  superset_home:
